html { 
   height: 100%;
   overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Arial;
  font-weight: bold;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 30px;
}
h6{
  font-size: 20px;
}
subheading {
  font-size: 50px;
  color: 	#A9A9A9;
  font-family: Arial;
}
ul {
  list-style-type: none;
  background-color: black;
  border-radius: 4px;
  padding: 15px;
  float: center;
  text-align:left;
}
ul code {
  font-size: 30px;
}
code {
  font-size: 20px;
  background-color:black;
  border-radius: 3px;
}
a {
  text-decoration:none;
  color: #4078c0;
}
a:visited {
  text-decoration:none;
  color: #4078c0;
}
.howTo{
  margin-top:0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #1B1D1E;
  color: #f5f5f5;
  font-family: 'Quicksand';
  text-align:left;
  font-size: 35px;
}
.howTo p{
  font-size: 25px;
  font-family:  'Quicksand';
}
.title {
  text-align: center;
  box-sizing: border-box;
  min-height: 40vw;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}
.title,
.title:before { background: 50% 50% / cover; }
.title::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-color: #8a8;
  background-image: url('https://custommarkup.ml/css/assets/code-wallpaper-18.png');
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
.btn {
  padding:15px;
  background-color:black;
  color:white;
  border-radius: 4px;
  font-size: 40px;
  font-family: 'Quicksand';
}
.btn:hover {
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.btn a, visited {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 40px;
  font-family: 'Quicksand';
}
#social {
  bottom: 5%;
  left: 5%;
  position:fixed;
  z-index: 100;
  margin: 0;
  padding: 0;
}
::selection {
  color: white;
  background: #003366;
}
